.btn-start,
.btn-stop,
.btn-reset,
.btn-disactive {
  display: inline-block;
  text-align: center;
  width: 7em;
  padding: 1em 0;
  margin: 8px;
  transition: .3s;
  opacity: 1;
}

.btn-start:hover,
.btn-stop:hover,
.btn-reset:hover,
.btn-disactive:hover {
  opacity: .8;
}

.btn-start {
  background: #2701ff;
}

.btn-stop {
  background: #941919;
}

.btn-reset {
  background: #ff6701;
}

.btn-disactive {
  background: #808080;
  cursor: not-allowed;
}